@page
@model IndexModel
@{
    ViewData["Title"] = "Alice Home";
}

<div class="container">

    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <form method="POST" id="searchForm">
                <br />
                <div class="input-group">
                    <input type="text" id="queryText"
                            asp-for="QueryText"
                            class="form-control"
                            autocomplete="off"
                            placeholder="Try 'Alice', then 'Thinking', then 'Knives'...interesting...">
                    <span class="input-group-btn">
                        <button id="queryButton" class="btn btn-primary"
                            data-loading-text="Searching..."
                            data-animation="" type="submit">Search</button>
                    </span>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <span id="msg" class="text-danger">@Model.SearchResult.Msg</span>
        </div>
    </div>

    @if (Model.SearchResult.FieldResults != null)
    {
        <div class="row">
            @foreach (var fieldResult in Model.SearchResult.FieldResults)
            {
                <div class="col-lg-4 col-sm-4">
                    <div class="clearfix"></div>
                    <div>
                        <h2>@fieldResult.Key</h2>
                        <div><span class="badge">@fieldResult.Value.Count hits</span></div>
                        <br />
                        <table class='table'>
                            <tbody>
                                @foreach (var highLight in fieldResult.Value)
                                {
                                    <tr><td>@Html.Raw(highLight)</td></tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        </div>
    }

</div> 
